@import url("reset.css");
html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
  font-family: "Poppins", "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

h5 {
  font-size: 20px;
  font-weight: 900;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row-rev {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.mb_100 {
  margin-bottom: 100px;
}

.col-2 {
  width: 20%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-8 {
  width: 80%;
}

.col-10 {
  width: 100%;
}

.kv {
  height: 100vh;
}
.kv .kv_pic {
  margin: 0 auto;
}
.kv .scroll {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 200;
  letter-spacing: 0.2em;
}
.kv .scroll:before {
  content: "";
  width: 0.5px;
  height: 0;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 0.5em);
  left: 50%;
  animation: lineAnimation 2s linear infinite;
}

@keyframes lineAnimation {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100px;
    opacity: 100%;
  }
}
header {
  align-items: center;
  margin-bottom: 50px;
  padding: 0 60px;
  height: 100px;
  transition: top 0.3s ease;
}
header .navList {
  letter-spacing: 0.2em;
  position: relative;
}
header .navList li {
  padding: 0 20px;
}
header .navList li a {
  display: block;
  padding: 10px 0;
}
header .navList li a.active {
  color: #ff3c38;
  font-weight: 900;
  letter-spacing: 0;
  position: relative;
}
header .navList li a.active::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 70%;
  height: 5px;
  background: #ff3c38;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.9;
  z-index: 99;
}

main {
  padding-top: 100px;
}

.title {
  text-align: center;
  margin-bottom: 60px;
}

.sv_content {
  margin: 0 auto;
}
.sv_content .sv_item {
  margin-bottom: 60px;
}
.sv_content .sv_item h3 {
  margin-bottom: 20px;
}
.sv_content .sv_item p {
  border-left: 3px solid #fff;
  padding-left: 20px;
}

.ad_contant {
  overflow: hidden;
}
.arrow_btn {
  cursor: pointer;
}
.arrow_btn .arrow {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  transition: transform 0.5s ease-in-out;
}
.arrow_btn .arrow svg {
  stroke: #fff;
}
.arrow_btn .arrow:hover {
  border-color: #ff3c38;
  animation: arrowAnimation 0.8s infinite alternate;
}
.arrow_btn .arrow:hover svg {
  stroke: #ff3c38;
}

@keyframes arrowAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
.team_content {
  margin: 0 auto;
}
.team_content .team_item {
  max-width: 300px;
  width: 30%;
  background: #ff3c38;
  padding: 20px;
  position: relative;
}
.team_content .team_item h4:before {
  content: "";
  display: block;
  position: absolute;
  left: -1rem;
  top: 2.2rem;
  width: 2rem;
  height: 1px;
  background: #fff;
}
.team_content .team_item img {
  margin: 20px auto;
}
.team_content .team_item .team_txt p {
  font-weight: 300;
}
.team_content .team_box01 {
  margin-top: 100px;
}
.team_content .team_box02 {
  margin: 50px 0;
}
.team_content .team_box03 {
  margin-bottom: 100px;
}

.contact_bg {
  background-color: #fff;
  position: relative;
  padding: 100px 0;
}
.contact_bg .contact_l {
  color: #333;
  margin-right: 10em;
}
.contact_bg .contact_l .title {
  text-align: left;
  margin: 0 0 150px;
}
.contact_bg .contact_l .phone_box {
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  color: #ff3c38;
  font-size: 24px;
}
.contact_bg .contact_l .phone_box img {
  margin-right: 1rem;
}
.contact_bg .contact_l .nameAde {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #333;
}
.contact_bg .contact_r:before {
  content: "";
  display: block;
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #333;
}
.contact_bg .contact_r .info_form {
  position: relative;
}
.contact_bg .contact_r .info_form .input_txt {
  width: 100%;
  border: none;
  background: transparent;
  padding: 10px 0;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #5e5e5e;
  margin-bottom: 40px;
}
.contact_bg .contact_r .info_form .area_txt {
  color: #5e5e5e;
}
.contact_bg .contact_r .info_form .input_textarea {
  resize: none;
  width: 100%;
  height: 200px;
  background: transparent;
  outline: none;
  color: #fff;
  border: 1px solid #5e5e5e;
  margin-bottom: 40px;
}
.contact_bg .contact_r .info_form .btn {
  border: transparent;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 100px;
  font-weight: 700;
}

footer {
  padding: 50px;
  text-align: center;
}
footer .container {
  position: relative;
  margin-bottom: 0;
}
footer .container span {
  font-size: 14px;
}
footer .container a {
  position: absolute;
  right: 0;
  top: -50%;
}
footer .container img:hover {
  filter: brightness(0.3);
}/*# sourceMappingURL=style.css.map */