@import url("reset.css");

$primary: #ff3c38;
$blue: #64cfe4;
$d_gray: #5e5e5e;
$white: #fff;
$fontLight: 300;
$fontBold: 900;

// BASE STYLES --------------------------------------------
html {
  scroll-behavior: smooth;
}
body {
  background: #000;
  color: $white;
  font-family: "Poppins", "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
h2 {
  font-size: 40px;
  font-weight: $fontBold;
  text-transform: uppercase;
}
h3 {
  font-size: 28px;
  font-weight: $fontLight;
  text-transform: uppercase;
}
h4 {
  font-size: 24px;
  font-weight: $fontBold;
  text-transform: uppercase;
}
h5 {
  font-size: 20px;
  font-weight: $fontBold;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row-rev {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.mb_100 {
  margin-bottom: 100px;
}
.col-2 {
  width: 20%;
}
.col-4 {
  width: 40%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-8 {
  width: 80%;
}
.col-10 {
  width: 100%;
}
// --------------------------------------------
// .wrapper {
//   overflow: hidden;
//   height: 100vh;
// }
// .block {
//   // height: 100vh;
// }
// --------------------------------------------
.kv {
  height: 100vh;
  .kv_pic {
    margin: 0 auto;
  }
  .scroll {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
    letter-spacing: 0.2em;
    &:before {
      content: "";
      width: 0.5px;
      height: 0;
      background-color: $white;
      position: absolute;
      top: calc(100% + 0.5em);
      left: 50%;
      animation: lineAnimation 2s linear infinite;
    }
  }
}
@keyframes lineAnimation {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100px;
    opacity: 100%;
  }
}

header {
  align-items: center;
  margin-bottom: 50px;
  padding: 0 60px;
  height: 100px;
  transition: top 0.3s ease;
  .navList {
    letter-spacing: 0.2em;
    position: relative;
    li {
      padding: 0 20px;
      a {
        display: block;
        padding: 10px 0;
        &.active {
          color: $primary;
          font-weight: $fontBold;
          letter-spacing: 0;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: 5px;
            left: 0;
            // transform: translateX(-50%);
            width: 70%;
            height: 5px;
            background: #ff3c38;
          }
        }
      }
    }
  }
}
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.9;
  z-index: 99;
}
main {
  padding-top: 100px;
}
.title {
  text-align: center;
  // margin: 100px 0;
  margin-bottom: 60px;
}
.sv_content {
  margin: 0 auto;
  .sv_item {
    margin-bottom: 60px;
    h3 {
      margin-bottom: 20px;
    }
    p {
      border-left: 3px solid $white;
      padding-left: 20px;
    }
  }
}

// ------------- 輪播 ----------------------
.ad_contant {
  overflow: hidden;
  ul {
    // display: flex;
    // gap: 20px;
  }
}
.arrow_btn {
  cursor: pointer;
  .arrow {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid $white;
    border-radius: 100%;
    transition: transform 0.5s ease-in-out;
    svg {
      stroke: $white;
    }
  }
  .arrow:hover {
    border-color: $primary;
    animation: arrowAnimation 0.8s infinite alternate;
    svg {
      stroke: $primary;
    }
  }
}
@keyframes arrowAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
// --------------------------

// --------------------------
//區塊三
.team_content {
  margin: 0 auto;
  .team_item {
    max-width: 300px;
    width: 30%;
    background: $primary;
    padding: 20px;
    position: relative;
    h4:before {
      content: "";
      display: block;
      position: absolute;
      left: -1rem;
      top: 2.2rem;
      width: 2rem;
      height: 1px;
      background: $white;
    }
    img {
      // border-radius: 50%;
      margin: 20px auto;
    }
    .team_txt {
      p {
        font-weight: $fontLight;
      }
    }
  }
  .team_box01 {
    margin-top: 100px;
  }
  .team_box02 {
    margin: 50px 0;
  }
  .team_box03 {
    margin-bottom: 100px;
  }
}

// contact
.contact_bg {
  background-color: $white;
  position: relative;
  padding: 100px 0;
  .contact_l {
    color: #333;
    margin-right: 10em;
    .title {
      text-align: left;
      margin: 0 0 150px;
    }
    .phone_box {
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
      color: $primary;
      font-size: 24px;
      img {
        margin-right: 1rem;
      }
    }
    .nameAde {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #333;
    }
  }
  .contact_r {
    &:before {
      content: "";
      display: block;
      width: 50vw;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: #333;
    }
    .info_form {
      position: relative;
      .input_txt {
        width: 100%;
        border: none;
        background: transparent;
        padding: 10px 0;
        outline: none;
        color: $white;
        border-bottom: 1px solid $d_gray;
        margin-bottom: 40px;
      }
      .area_txt {
        color: $d_gray;
      }
      .input_textarea {
        resize: none;
        width: 100%;
        height: 200px;
        background: transparent;
        outline: none;
        color: $white;
        border: 1px solid $d_gray;
        margin-bottom: 40px;
      }
      .btn {
        border: transparent;
        cursor: pointer;
        padding: 10px 50px;
        border-radius: 100px;
        font-weight: 700;
      }
    }
  }
}

// footer
footer {
  padding: 50px;
  text-align: center;
  .container {
    position: relative;
    margin-bottom: 0;
    span {
      font-size: 14px;
    }
    a {
      position: absolute;
      right: 0;
      top: -50%;
    }
    img:hover {
      filter: brightness(0.3);
    }
  }
}
